server
{
    port: 8080;
    host: localhost;
    errorPage: 404-404.html 500-500.html 502-502.html;
    location /
    {
        root: myWebsite;
        index: index.html;
        location /files
        {
            methods: GET POST DELETE;
            dirListing: true;
        }
        location /redirections
        {
            redirection: 300  https://www.youtube.com/;
        }
        location /cgi
        {
            root: CGI;
            methods: GET POST;
            cgi .py 
            {
                metaVar: HOLA=lol ADIOS=3 HTTP_HOLA;
				execute: /usr/bin/python3;
            }

            cgi .php
            {
				execute: /usr/local/php/8.3.0/bin/php;
            }
        }
    }
}

server
{
    port: 8080;
    host: localhost;
    errorPage: 404-404.html 500-500.html 502-502.html;
    serverNames: lolcito;
    location /
    {
        root: lolcito;
        methods: GET;
        index: index.html;
    }
}

server
{
    port: 8081;
    host: localhost;
    errorPage: 404-404.html 500-500.html 503-503.html;
    location /
    {
        root: myWebsite;
        index: index.html;
        location /files
        {
            methods: GET POST DELETE;
            dirListing: true;
        }
        location /redirections
        {
            redirection: 300  https://www.youtube.com/;
        }
        location /cgi
        {
            root: CGI;
            methods: GET POST;
            cgi .py 
            {
                metaVar: HOLA=lol ADIOS=3 HTTP_HOLA;
				execute: /usr/bin/python3;
            }

            cgi .php
            {
				execute: /usr/local/php/8.3.0/bin/php;
            }
        }
    }
}